@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.glass {
    background: rgba(255, 255, 255, 0.3); /* Light background with transparency */
    backdrop-filter: blur(10px); /* Blurring effect */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
